<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/style.css">
    {% block head %}{% endblock %}
    <title>{% block title %}{% endblock %}</title>
</head>
<body>
    <div id="nav-bar">
        <h1>{{ self.title() }}</h1>
        <h3><a href="/suggest">Suggest</a></h3>
        <h3><a href="/results">Results</a></h3>
        <h3><a href="/">Home</a></h3>
    </div>
    {% block dev %}{% endblock %}
    <h3>{{message}}</h3>
    {% block body %}{% endblock %}
</body>
<script src="https://kit.fontawesome.com/b6a2129284.js" crossorigin="anonymous"></script>
</html>