{% extends "dev_base.jinja" %}

{% block title %}Dev{% endblock %}

{% block body %}
<a href="/dev1721/see_vote_json">See Vote Json</a><br>
<a href="/dev1721/reset_vote_json">Reset Vote Json</a><br>
<a href="/dev1721/see_suggest_json">See Suggest Json</a><br>
<a href="/dev1721/reset_suggest_json">Reset Suggest Json</a><br>
<a href="/dev1721/logs">Logs</a><br>
{% endblock %}
