{% extends "dev_base.jinja" %}

{% block body %}
<a href="/dev1721/vote_json/download">See Vote Json</a><br>
<a href="/dev1721/vote_json/reset">Reset Vote Json</a><br>
<a href="/dev1721/suggest_json/download">See Suggest Json</a><br>
<a href="/dev1721/suggest_json/reset">Reset Suggest Json</a><br>
<a href="/dev1721/logs">Logs</a><br>
{% endblock %}
