{% extends "base.jinja" %}
{% block head %}<link rel="stylesheet" href="/static/css/dev.css"><title>Dev</title>{% endblock %}
{% block title %}Dev{% endblock %}
{% block dev %}
<div id="dev-bar">
    <h3><a href="/dev1721/logs">Logs</a></h3>
    <h3><a href="/dev1721/vote_json">Vote JSON</a></h3>
    <h3><a href="/dev1721/suggest_json">Suggest JSON</a></h3>
</div>
{% endblock %}