{% extends "dev_base.jinja" %}
{% block body %}
<a href="/dev1721/suggest_json/download" style="color: lightgrey; font-size: large;"><i class="fa-solid fa-download"></i></a>
<a onclick="reset()" style="color: red; font-size: large;"><i class="fa-solid fa-arrow-rotate-left"></i></a>
<pre><code lang="json">{{suggest_json}}</code></pre>
<script>
const reset = () => {
    if (confirm("Reset Suggest JSON?")) {
        window.location.href = "/dev1721/suggest_json/reset";
    }
}
</script>
{% endblock %}