{%extends "base.jinja"%}
{% block head %}
<title>Vote!</title>
{% endblock %}

{% block body %}
<h1>Pick your Favourite Scripts!</h1>
{% if message != " "%}
<h3>{{message}}</h3>
{% endif %}

<form action="/vote" method="post">
    <input type="text" name="name" placeholder="Your Name" value="{{ name }}" required><br>

    {% for script_name in available_scripts %}
    <label name="script" value="{{ script_name }}">
        <input type="checkbox" name="script_checkbox" {% if script_name in current_votes %}checked{% endif %}> {{ script_name }}<br>
    </label>
    {% endfor %}

    <input type="submit" value="Cast Vote!">
</form>

<h3>See the results <a href="/results">here!</a></h3>
<script src="/static/js/votes.js"></script>
{% endblock %}
