{% extends "base.jinja" %}

{% block title %}Logs{% endblock %}

{% block body %}
{% for log in logs|sort %}
<a href="/dev1721/logs/get/{{log}}">Get {{log}}</a>
 - <a href="/dev1721/logs/reset/{{log}}">Reset {{log}}</a><br>
{% endfor %}
{% endblock %}