{% extends "base.jinja" %}

{% block title %}Scripts{% endblock %}

{% block body %}
<ul>
{% for script_name in scripts %}
    <li><a href="/scripts/{{script_name}}" target="_blank">{{ script_name.replace("_", " ").title() }}</a></li>
{% endfor %}
</ul>
{% endblock %}
