{% extends "base.jinja" %}

{% block title %}Suggest a Script!{% endblock %}

{% block body %}
<form action="/suggest" method="post">
    <input type="text" placeholder="Trouble Brewing" name="suggestion">
    <input type="submit" value="Submit!">
</form>
{% endblock %}
