{% extends "base.jinja" %}

{% block title %}Suggest a Script!{% endblock %}

{% block body %}
<h4>Suggest a script from <a href="https://www.botcscripts.com/">botcscripts.com</a> to be added to the selection.</h4>
<form action="/suggest" method="post">
    <input type="text" placeholder="Trouble Brewing" name="suggestion">
    <input type="submit" value="Submit!">
</form>
{% endblock %}
