body {
    background-color: #503754;
    color: white;
    font-family: "Calibri";
}

a {
    color: bisque;
}

#top-bar {
    background-color: #362838;
    position: sticky;
    top: 0;
    width: 100%;
    height: 5%;
}
