body {
    background-color: #503754;
    color: white;
    font-family: calibri, sans-serif;
}
a {color: bisque}

#top-bar {
    position: sticky;
    display: grid;
    top: 0;
    
    width: 100vw;
    grid-template-rows: 10vh;
    grid-template-columns: auto 10vw 10vw 10vw;
    
    align-items: center;
    margin: -8px 0 0 -8px;

    background-color: #362838CC;
    backdrop-filter: blur(5px);
    border-radius: 0 0 5px 5px;
}
#top-bar > h1 {margin-left: 10px}
#top-bar > h3 {display: flex; justify-content: center}

@media (max-width: 800px) {
    #top-bar {
        grid-template-rows: 4vh 4vh 4vh;
        grid-template-columns: auto 40vw;
    }
    #top-bar > h1 {grid-row: 1 / span 3;}
}
